<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/card.min.css" integrity="sha256-PgpU37VlFbkky1M4sQXWi4/+Vf7JqblZfu3uCmdE8kg=" crossorigin="anonymous" />
</head>
<br>

<h2 class="ui block header">
Settings Page
</h2>
<h3>Statistics Placeholder</h3>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Faves
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      31,200
    </div>
    <div class="label">
      Views
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Members
    </div>
  </div>
</div>
