// MAIN STYLING PAGE //

//google fonts
/*
  font-family: 'Roboto Slab', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Dancing Script', cursive;
*/

// VARIABLES //
// $maroon: #591E23;
// $pink: #D94E67;
// $cream: #F2D8A7;
// $light-brown: #A68572;
// $dark-brown: #73503C;


// html {
//   font-family: 'Arsenal', sans-serif;
//   background: url('bg-blue2.jpg') no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }



nav {
    display: block;
}
.segment {
	position: relative;
	text-align: center;
}
.ui.icon.button {
	margin-left: 65px;
}


.mui-appbar {
  background-color: $maroon;
}

#footer {
  background-color: $maroon;
}

#tasklnk {
  a {
color: $dark-brown !important;
  }
  
}

