<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
  <span class="mui--text-title"><%=current_time.strftime("%b,%d, %G")%></span>
</div>
<div class="mui-divider"></div>
<ul>
  <li>
    <strong>Today's Agenda</strong>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
  <li>
    <strong>Upcoming</strong>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
  <li>
    <strong>Notes</strong>
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>
</ul>
</div>